<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quanta Console</title>

    <link rel="stylesheet" href="css/jquery.toast.min.css">
    <script src="js/socket.io.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.toast.min.js"></script>

</head>

<body ng-controller="HelloWorldController">
    <button ng-click="load()">LOAD</button>
    <button ng-click="connect()">Connect</button>
    <button ng-click="disconnect()">Disconnect</button>

    <ul>
        <li ng-repeat="param in paramList" style="width:700px;">
            <div style="width:100px;float:left;">
                {{param.id}}
            </div>
            <div style="width:100px;float:left;">
                <div ng-if="!param.isNew">
                    {{param.name}}
                </div>
                <div ng-if="param.isNew">
                    <input type="text" style="width:inherit;" ng-model="param.name">
                </div>
            </div>
            <div style="width:100px;float:left;">
                <input type="text" style="width:inherit;" ng-model="param.value">
            </div>
            <div style="width:100px;float:left;">
                <button ng-click="update(param.id)">update</button>
            </div>
        </li>
    </ul>
</body>
<script src="js/index.js"></script>

</html>