<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quanta Console</title>

    <link rel="stylesheet" href="css/jquery.toast.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/socket.io.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.toast.min.js"></script>
    <link rel="stylesheet" href="css/material.min.css">
    <script src="js/material.min.js"></script>
    <link rel="stylesheet" href="css/icon.css">
</head>

<body ng-controller="HelloWorldController">
    <button ng-click="load()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        LOAD
    </button>
    <button ng-click="connect()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Connect
    </button>
    <button ng-click="disconnect()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Disconnect
    </button>
    <ul>
        <li ng-repeat="param in paramList" style="width:800px;">
            <div style="width:100px;float:left;">
                <div ng-if="!param.isNew">
                    {{param.id}}
                </div>
                <div ng-if="param.isNew">
                    <input type="text" style="width:inherit;" ng-model="param.id">
                </div>
            </div>
            <div style="width:100px;float:left;">
                <div ng-if="!param.isNew">
                    {{param.name}}
                </div>
                <div ng-if="param.isNew">
                    <input type="text" style="width:inherit;" ng-model="param.name">
                </div>
            </div>
            <div style="width:100px;float:left;">
                <input type="text" style="width:inherit;" ng-model="param.value">
            </div>
            <div style="width:100px;float:left;">
                <button ng-click="update(param.id)">update</button>
            </div>
            <div style="width:150px;float:left;">
                <input type="text" style="width:150px;" value="{{param.name}}=*(float *)({{param.id}});" />
            </div>
        </li>
    </ul>
</body>
<script src="js/index.js"></script>

</html>